<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="subject">
      Subject
    </label>
    <input id="subject" type="text" formControlName="subject">
  </div>

  <div>
    <label for="year">
      Year
    </label>
    <input id="year" type="text" formControlName="year">
  </div>

  <div>
    <label for="tipe">
      Type
    </label>
    <input id="tipe" type="text" formControlName="tipe">
  </div>

  <div>
    <label for="paper">
      Paper
    </label>
    <input id="paper" type="text" formControlName="paper">
  </div>

  <button class="button" type="submit">Link</button>

</form>

<div>
  
</div>