<!-- nav -->
<div class="TopBar">
  <ul>
    <li><a class="TopBar-link" routerLink="/">Home</a></li>
    <li><a class="TopBar-link" routerLink="/maths">Maths</a></li>
    <li><a class="TopBar-Link" routerLink="/applied-maths">Applied Maths</a></li>
  </ul> 
</div>

<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div class="footer">
  <p>made by ~oisín~</p>
</div> 