.YearBar {
  color: rgb(68, 142, 207);
  font-size: 30px;
  line-height: 40px;
}

.Title h1 {
  color: aliceblue;
}

.inconsolata {
  font-family: "Inconsolata", Courier, monospace;
}

.trebuchet {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input {
  width: 120px;
}

input[type=text] {
  padding: 10px 5px;
  margin: 0px 0;
  box-sizing: border-box;
  border: 2px solid rgb(32, 23, 23);
  border-radius: 8px;
  font-size: 20px;
  height: 32px;
}

.Results {
  background-color: rgb(68, 142, 207);
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 20px;
  height: 85px;
}

.Results li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}

.Results a {
  color: aliceblue;  
}