<body>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div class="YearBar">
      <label class="inconsolata" for="year">
        Year
      </label>
    </div>
    <input id="year" type="text" formControlName="year">

  </form>
  <div class="Results">
    <ul>
      <li>
        <div *ngIf="hasOne">
          <a href = "{{ oneLink }}">
            Paper One
          </a>
        </div>
      </li>
      <li>
        <div *ngIf="hasTwo">
          <a href = "{{ twoLink }}">
            Paper Two
          </a>
        </div>
      </li>
    </ul>
  </div>
</body>