<div class="head">
  <ul>
    <li><a class="active" routerLink="/">Home</a></li>
    <li><a routerLink="/higher-level">Higher Level</a></li>
    <li><a routerLink="/ordinary-level">Ordinary Level</a></li>
  </ul>
</div>

<div class="Title">
  <h1>Welcome to Fundamental Papers</h1>
</div>

<div class="Intro">
  <ul>
    <li><a>The minimalist mobile-friendly alternative to examinations.ie</a></li>
    <li><a>I've added all HL maths, HL DCG, HL applied maths papers, and I'm working on adding OL English, HL physics & maybe both Irish levels</a></li>
  </ul>
</div>